div.title{
	background-color: black;
	height: 81px;
	text-align: center;
}
h3, .pc_footer, h1, .tabeho p{
	text-align: center;
}
/* PC用ＣＳＳ */
@media (min-device-width: 481px){
	div.tabeho img{
		width: 49%;
	}
	.no_pc_footer{
		visibility: hidden;
	}
}
/* スマートフォン用ＣＳＳ */
@media (max-device-width: 480px){
	div.tabeho img{
		width: 100%;
	}
	.no_pc_footer{
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.pc_footer{
		visibility: hidden;
	}
}
div.map_link{
	text-align: right;
}
.map_link img:hover, .mail:hover{
	cursor: pointer;
}
