div.title{
	background-color: black;
	height: 81px;
	text-align: center;
}
h3{
	text-align: center;
}
//PC用ＣＳＳ
@media screen and (min-width: 481px){

}
//スマートフォン用ＣＳＳ
@media screen and (max-width: 480px){

}
div.map_link{
	text-align: right;
}
