div.title{
	background-color: black;
	height: 81px;
	text-align: center;
}
h3{
	text-align: center;
}
/* PC用ＣＳＳ */
@media (min-device-width: 481px){
	div.img img{
		width: 50%;
	}
}
/* スマートフォン用ＣＳＳ */
@media (max-device-width: 480px){
	div.img img{
		width: 100%;
	}
}
div.map_link{
	text-align: right;
}
